/*------------------------------------------

Project Name : xPlus;
Desgined By  : Faridul Haque;
Developed By : Sumaiya Shampa & Faridul Haque;
Date         : 25-Jan-2017
------------------------------------------*/

/*
************************************************
         ==Start Header CSS==
************************************************ 
*/
.logo-brand{
    margin: 35px 30px 0 0;
}
#header .header-default{
    background: rgba(8, 8, 8, 0.1) !important;
}
.header-sticky {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.menuzord .menuzord-menu>li.active>a,
.menuzord .menuzord-menu>li.active>a>i, 
.menuzord .menuzord-menu>li:hover>a,
.menuzord .menuzord-menu>li:hover>a>i
.menuzord-menu ul.dropdown li a:hover,
.menuzord-menu ul.dropdown li.active a,
.nav-border-bottom .menuzord .menuzord-menu>li.active>a{
    color: #FF5351!important;
}

.btn.btn-search i, .menuzord-menu>li>a{
    color: #fff;
}
.menuzord-menu ul.dropdown li >a::before,
.menuzord-menu>li>.megamenu .megamenu-row li >a::before {
    background-color: #FF5351;
}

.tt-nav.sticky .header-default{
    background: #232328!important;
}
.nav-border-bottom .menuzord .menuzord-menu>li.active>a,
.nav-border-bottom .menuzord .menuzord-menu>li:hover>a {
    border-bottom: 3px solid #FF5351;
}
/* ------ search modal -----*/
.btn-search {
    margin: 35px 0px 0 40px;
}
.input-field-modal button {
    background: #FF5351!important;
}

/*
************************************************
         ==Agency Portfolio CSS==
************************************************ 
*/
section.work-4col.wide {
    margin-bottom: 0!important;
}
.page-section-gutter-work-with-title {
    padding: 90px 0;
}
.portfolio-filter li.active {
    background: #FF5351;
}
a.btn.xplus-btn {
    margin-top: 20px;
}
figure .action-btn i:hover {
    color: #FF5351;
}

/*
************************************************
       == Footer CSS Start ==
************************************************ 
*/

.footer_area {
    background: none;
    border-top: 1px solid #ddd;
    padding: 110px 0 90px;
}
.footer_logo img{
    height: 50px;
}
.footer_logo {
    width: 185px;
    margin: auto;
}
.footer_icon {
    padding: 45px 0 20px;
}
.footer_icon li{
    background: none;
}
.footer_icon li a{
    font-size: 16px;
    color: #333
}
.footer_icon li a:hover{
    font-size: 16px;
    color: #FF5351;
}
.contact-info p {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 10px;
    color: #777;
}
.contact-info p a {
    color: #777!important;
    font-size: 14px;
}
 p.copyright a{
    color: #FF5351;
}

/*
************************************************
         == Responsive ==
************************************************ 
*/
@media (max-width: 768px){    
    #header .header-default,
    ul.menuzord-menu{
        background: #191C21!important;
        border-bottom: 1px solid #15151a;
    }
    .menuzord-menu>li>a {
        color: #888!important;
    }
    .menuzord-responsive .menuzord-menu ul.dropdown, 
    .menuzord-responsive .menuzord-menu ul.dropdown li ul.dropdown{
        background: #0a0a0b;
    }
    .menuzord-responsive .menuzord-menu>li>a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
    }
    .menuzord-menu ul.dropdown li a:hover,
    .menuzord-menu ul.dropdown li.active a,
    .nav-border-bottom .menuzord .menuzord-menu>li.active>a{
        color: #FF5351!important;
    }

}
@media (max-width: 767px){    
    #header .header-default,
    ul.menuzord-menu{
        background: #191C21!important;
        border-bottom: 1px solid #15151a;
    }
    .menuzord-menu>li>a {
        color: #888!important;
    }
    .menuzord-responsive .menuzord-menu ul.dropdown, 
    .menuzord-responsive .menuzord-menu ul.dropdown li ul.dropdown{
        background: #0a0a0b;
    }
    .menuzord-responsive .menuzord-menu>li>a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
    }
    .menuzord-menu ul.dropdown li a:hover,
    .menuzord-menu ul.dropdown li.active a,
    .nav-border-bottom .menuzord .menuzord-menu>li.active>a{
        color: #FF5351!important;
    }

}
