/*------------------------------------------

Project Name : xPlus;
Desgined By  : Faridul Haque;
Developed By : Sumaiya Shampa & Faridul Haque;
Date         : 25-Jan-2017
------------------------------------------*/

/*
************************************************
         == Color CSS==
************************************************ 
*/

/* ----------- Primary Color Dark Gray --------------- */

body,
.cs-loader,
section.work-3col,
.team_area,
.client_area,
.testimonial_text {
    background: #15151a;
}

/* ----------- Primary Color Light Gray --------------- */

.tt-nav.sticky .header-default,
.service_icon_info_top,
.service_icon_info,
.who_we_img,
.our_goals_img,
.our_mission_area,
.promo_btn,
.member_toggle,
.member_content,
.testimonial_area,
.team_icon,
.team-close-icon,
.counterup_area,
.blog_details,
.footer_area {
    background: #191c21!important;
}


/* ----------- Color --------------- */

.menuzord-menu>li>a,
.btn-search,
.btn-search:hover,
.btn-search:focus,
.tt-nav.sticky .header-default .menuzord-menu>li>a,
.tt-nav.sticky .header-default .btn-search,
.section_title_minimal h3,
.service_icon span,
.promo_btn,
.tabby-tab label,
.member_content h4,
.member_content_overlay h4,
.testimonial_right_content h4,
.counts,
.blog_details a {
    color: #ffffff;
}

.service_icon h5 {
    color: #888;
}

.tp-caption.Creative-SubTitle,
.Creative-SubTitle,
.tp-caption.Creative-Button,
.Creative-Button {
    color: #99CA3C!important;
}

figure:hover img {
    opacity: .1;
}


/* ----------- Border Color--------------- */

.metis .tp-tab.selected .tp-tab-divider {
    border-right: 1px solid #99CA3C!important;
}

.service_icon_info,
.service_icon_info_top {
    border: 1px solid #0a0a0b;
}
.who_we_area {
    border-right: 15px solid #191c21;
}

.service_icon_info,
.service_icon_info:nth-child(1), 
.service_icon_info:nth-child(2),
.service_icon_info:nth-child(3),
.service_icon_info:nth-child(4){
    border-right: 1px solid #0a0a0b;
}
.client_bg:nth-child(2):after,
.client_bg:nth-child(3):after,
.client_bg:nth-child(5):after,
.client_bg:nth-child(6):after{
    border-left: 1px solid #0a0a0b;
}
.who_we_info:before,
.our_goals_info:before {
    border-left: 4px solid #0a0a0b;
}
.our_goals_area {
    border-left: 15px solid #191c21;
}

.our_mission_area {
    border: none;
}

.work-3col,
.counterup_area,
.working_process:after {
    border-top: 1px solid #0a0a0b;
}
.member_content_overlay,
.bottom_footer {
    border-top: 1px solid #15151a;
}


[type=radio]:checked ~ label {
    z-index: 2;
    border-bottom: 1px solid #292935;
}
.team_area,
.client_bg_top {
    border-bottom: 1px solid #0a0a0b;
}

.tabby-tab [type=radio] {
    display: none;
}

/* ============================  Rsponsive Css ================================= */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .service_icon_info:nth-child(1),
    .service_icon_info:nth-child(2),
    .service_icon_info:nth-child(3) {
        border-left: 1px solid #0a0a0b;
    }     
    .service_icon_info:nth-child(2),
    .service_icon_info:nth-child(4) {
        border-left: none;
    }
    .service_icon_info:nth-child(1),
    .service_icon_info:nth-child(2),
    .service_icon_info_top {
        border-bottom: none;
    }    
}
@media (max-width: 768px){

    #header .header-default,
    ul.menuzord-menu{
        background: #191C21!important;
        border-bottom: 1px solid #15151a;
    }
    .menuzord-menu>li>a {
        color: #888!important;
    }
    .menuzord-responsive .menuzord-menu ul.dropdown, 
    .menuzord-responsive .menuzord-menu ul.dropdown li ul.dropdown{
        background: #0a0a0b;
    }
    
    .menuzord-responsive .menuzord-menu>li>a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
    }
}
@media (max-width: 767px){
    
    #header .header-default,
    ul.menuzord-menu{
        background: #191C21!important;
        border-bottom: 1px solid #15151a;
    }
    .menuzord-menu>li>a {
        color: #888!important;
    }
    .menuzord-responsive .menuzord-menu ul.dropdown, 
    .menuzord-responsive .menuzord-menu ul.dropdown li ul.dropdown{
        background: #0a0a0b;
    }
    .menuzord-responsive .menuzord-menu>li>a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
    }
    .service_icon_info:nth-child(1),
    .service_icon_info:nth-child(2),
    .service_icon_info:nth-child(3) {
        border-left: 1px solid #0a0a0b;
    }     
    .service_icon_info:nth-child(2),
    .service_icon_info:nth-child(4) {
        border-left: none;
    }
    .service_icon_info:nth-child(1),
    .service_icon_info:nth-child(2),
    .service_icon_info_top {
        border-bottom: none;
    }    
    .client_bg_top {
        border-bottom: none;
    }
    .client_bg:nth-child(2):after, 
    .client_bg:nth-child(3):after{
        border-left: none;
    }
}

@media (max-width: 500px){
    .service_icon_info_top:nth-child(2){
        border-right: 1px solid #0a0a0b;
    }
    .service_icon_info:nth-child(3){
        border-bottom: none;
    }
    .service_icon_info:nth-child(2), 
    .service_icon_info:nth-child(4){
        border-left: 1px solid #0a0a0b;        
    }
    .client_bg:nth-child(2):after, 
    .client_bg:nth-child(3):after, 
    .client_bg:nth-child(5):after, 
    .client_bg:nth-child(6):after{
        border-left: none;
    }
}

