* {
    box-sizing: border-box;
}
.tp-caption.BigBold-Title,
.BigBold-Title {
    color: rgba(255, 255, 255, 1.00);
    font-size: 110px;
    line-height: 100px;
    font-weight: 800;
    font-style: normal;
    font-family: Raleway;
    padding: 10px 0px 10px 0;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left
}
.tp-caption.BigBold-SubTitle,
.BigBold-SubTitle {
    color: rgba(255, 255, 255, 0.50);
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    font-style: normal;
    font-family: Raleway;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left;
    letter-spacing: 1px
}
.tp-caption.BigBold-Button,
.BigBold-Button {
    color: rgba(255, 255, 255, 1.00);
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    font-style: normal;
    font-family: Raleway;
    padding: 15px 50px 15px 50px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.50);
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 0px 0px;
    text-align: left;
    letter-spacing: 1px
}
.rev_slider {
    overflow: hidden;
}